### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [156]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

* Display the total number of players

In [147]:
total_players = len(purchase_data['SN'].value_counts())

total = pd.DataFrame([[total_players]],columns =["Total Players"])
total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [148]:
item_name = len(purchase_data['Item Name'].value_counts())

average = round(purchase_data['Price'].mean(),2)

total_purchase = (purchase_data.shape[0])

total_price = purchase_data['Price'].sum()

df = pd.DataFrame ([[item_name, average, total_purchase, total_price]], index =[0], columns = ['Number of Unique Items','Average Price','Number of Purchases', 'Total Revenue'])
df.style.format({'Average Price': '${:,.2f}', 'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [149]:
gender_count = purchase_data.groupby(['Gender'])
total_count = gender_count.nunique()["SN"]

percent_players = total_count/total_players * 100

gender_demo = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percent_players})
gender_demo.index.name = None
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
purchase_id = gender_count["Purchase ID"].count()
avg_purchase_price = gender_count["Price"].mean()
total_purchase_value = gender_count["Price"].sum()

avg_per_person = total_purchase_value / total_count

gender_demo = pd.DataFrame({"Purchase Count": purchase_id, "Average Purchase Price": avg_purchase_price, "Avg Total Purchase per Person": avg_per_person})
gender_demo.index.name = "Gender"
gender_demo.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [151]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 100]
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_range)
age_group = purchase_data.groupby("Age Group")

age_count = age_group["SN"].nunique()
age_percentage = (age_count/total_players) * 100

age_demo = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percentage})
age_demo.index.name = None
age_demo.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [152]:
purchase_count_age = age_group["Purchase ID"].count()
avg_purchase_price_age = age_group["Price"].mean()
total_purchase_value = age_group["Price"].sum()

avg_purchase_per_person_age = total_purchase_value/age_count

age_demo = pd.DataFrame({"Purchase Count": purchase_count_age,"Average Purchase Price": avg_purchase_price_age, "Total Purchase Value":total_purchase_value,"Avg Total Purchase per Person": avg_purchase_per_person_age})
age_demo.index.name = None
age_demo.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [153]:
spender = purchase_data.groupby("SN")
purchase_count = spender["Purchase ID"].count()
avg_purchase_price = spender["Price"].mean()
purchase_total = spender["Price"].sum()


top_spenders = pd.DataFrame({"Purchase Count": purchase_count,"Average Purchase Price": avg_purchase_price, "Total Purchase Value":purchase_total})
format_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
format_spenders.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [154]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_group = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_group["Price"].count()
purchase_value = item_group["Price"].sum()

item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item,  "Item Price": item_price, "Total Purchase Value":purchase_value})
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [157]:
popular_format = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
popular_format.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})